

body {
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 1%;
    margin-bottom: 5px;
    background-color: teal;
    color: whitesmoke;
}

.myName {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    border-right: solid whitesmoke;
    padding: 0px 5px 0px 5px;
}

nav li:hover {
    background-color: rgb(1, 68, 68);
}

section div {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: teal;
    align-items: center;
}

div img {
    display: flex;
    margin-top: 10px;
    height: 325px;
    width:375px;
}

.aboutMe {
    display: flex;
    height: 200px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 20px 0px;
    color: teal;
}

div h2 {
    font-size: 20px;
    display: flex;
}

div p {
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding-left: 100px;
    
}

footer {
    display: flex;
    height: 150px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px 20px 0px;
    color: teal;
}

footer h2 {
    font-size: 20px;
}

section ul {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    margin-right: 50px;
    
    
}

section a {
    text-decoration: none;
    color: teal;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .header, footer {
        flex-direction: column;
    }
}